<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520024237931-15o2eblm4mqn99stinoufdtdm828l1s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520024237931-15o2eblm4mqn99stinoufdtdm828l1s6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520024237931-muc1f033sdbegnqm8sbbr0ck0kavr50o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdxjsh0rCMim-oVDrx7hcKkTKlwg01AU</string>
	<key>GCM_SENDER_ID</key>
	<string>520024237931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.localhelper</string>
	<key>PROJECT_ID</key>
	<string>local-helper-18209</string>
	<key>STORAGE_BUCKET</key>
	<string>local-helper-18209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520024237931:ios:2e06124e43f0c6fc864e2e</string>
	<key>DATABASE_URL</key>
	<string>https://local-helper-18209.firebaseio.com</string>
</dict>
</plist>